<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple stock tracker using flask and bokeh with data from QUANDL">
    <meta name="author" content="Jeremy Smith">

		<title>Simple Stock Tracker</title>

    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">

    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
  
  </head>

	<body>
		<div class="container">
      <div class="page-header">
        <h2>Simple Stock Tracker</h2>
        <h4>Jeremy Smith</h4>
      </div>

      <div class="col-md-12">
        <form method="post">
          <div class="form-group row">
            <div class="col-md-6">

              {% for g in graphtyps %}
              <label class="radio-inline">
                <input type="radio" name="graphtyp" value="{{ g.value }}" {% if graphtyp == g.value %}checked{% endif %}> {{ g.name }}
              </label>
              {% endfor %}

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="TICKER" name="ticker" required>
                <div class="input-group-btn">
                  <button type="submit" class="btn">Go</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class='col-md-12'>
        {{ plot_div|indent(8)|safe }}
        <p>Data from QUANDL WIKI EOD stock prices</p>
      </div>
		</div>

    <!-- Bootstrap and jQuery core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
